<div class="box">
    <nav class="panel">
        <p class="panel-heading"> Trends for you</p>
    </nav>
    <a class="panel-block">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
        </figure>
        <div class="media-content">
            <p>Avengers Winter Soldier</p>
        </div>
    </a>
    <a class="panel-block">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
        </figure>
        <div class="media-content">
        <p>Spider man Far from home</p>
        </div>
    </a>
    <a class="panel-block">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
        </figure>
        <div class="media-content">
            <p>Avengers Age of Ultron</p>
        </div>
    </a>
    <a class="panel-block">
        <a class="panel-block">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </p>
        </figure>
        <div class="media-content">
            <p>Avengers End game</p>
        </div>
    </a>
    </a>

</div>